<footer class="footer-area footer">
  <div class="footer_widgets_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <aside class="f_widget">
            <div class="vero_widget">
              <h4><span>RUCK</span>IT</h4>
              <p><span class="icon icon-home"></span> Some Address 987, NY<br/>
                <span class="icon ion-phone"></span> +34 9884 4893 <br/>
                <span class="icon ion-mobile"></span> +34 59855 9853 <br/>
                <span class="icon ion-envelop"></span> <a href="#"> agency@blacktie.co</a> <br/>
                <span class="icon icon-social-twitter"></span> <a href="#"> @blacktie_co </a> <br/>
                <span class="icon ion-social-youtube"></span> <a href="#"> BlackTie Agency </a> <br/>
              </p>
            </div>
          </aside>
        </div>
        <div class="col-lg-4">
          <aside class="f_widget">
            <div class="f_widget_title">
              <h3>Information</h3>
            </div>
            <div class="information_widget">
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Private Policy</a></li>
                <li><a href="#">Forum Support</a></li>
              </ul>
            </div>
          </aside>
        </div>



        <div class="col-lg-4">

          <div id="contact-section">
            <h3>Contact Form</h3>
            <div class="status alert alert-success" style="display: none"></div>
            <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
              <div class="form-group">
                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
              </div> <br>
              <div class="form-group">
                <button type="submit"class="btn btn-primary btn-lg btn-block">Send</button>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>

    <div class="copyright">
      <div class="copyright_left">
        <div class="copyright_text">
          <h4>Copyright © 2018. <a href="#">RUCKIT</a> . all rights reserved</h4>
        </div>
      </div>
    </div>
  </div>
</footer>
