@import "bootstrap-sprockets";
@import "bootstrap";

//nav-bar

.nav-image {
  position: absolute;
}

.nav-links {
  padding-left: 160px;
}

//homepage

.header {
  background-image: image-url(image_path("site-hero-crop.jpg"));
  background-size: 100% 100%;
  border: solid;
  padding-top: 105px;
  padding-bottom: 220px;
  border-bottom:#e8491d 3px solid;
}

.search-bar {
  background-color: white;
  border-radius:  14px;
  margin-top: 40px;
}

.index-tile-1 {
  padding-right: 25px;
}

.index-tiles {
  background-color: #35424a;
  color: white;
  padding-bottom: 30px;
  padding-top: 20px;
  border-bottom:#e8491d 3px solid;
}

.index-tile-btn {
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 7px 32px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.btn-area {
  padding-top: 15px;
}

.fix-row {
  margin-top: 20px;
  margin-bottom: 40px;
}

.fix-row-2 {
  margin-top:20px;
}

.fix-tile {
  background-color: white;
  padding-top: 10px;
}

.fix-tile-btn {
  background-color: #3366ff;
  border: none;
  color: white;
  padding: 7px 32px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.fix-tile-btn-area {
  padding-bottom: 10px;
}

//footer

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #35424a;
  color: white;
  border-top:#e8491d 3px solid;
}

.vero_widget {
  padding-top: 40px;
}

.foot-info {
  margin-right: 90px;
}

.foot-info-link {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid grey 2px;
}

.foot-copy {
  background-color: #e8491d;
  border: solid grey 2px;
}

.foot-social {
  border: solid grey 1px;
}

//sign-up

.sign-up-heading {
  padding-bottom: 20px;
  color: #e8491d;
}

.sign-up {
  margin-top: 80px;
  margin-bottom: 60px;
}

.sign-up-box {
  border: solid grey 2px;
  background-color: white;
  padding:  0px 20px 40px 20px;
}

.sign-up-img {
  margin-top: 80px;
}

.sign-up-img-box {
  padding-left: 50px;
}

//edit
.edit-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

.edit-form {
  padding: 0px 20px 30px 20px;
  background-color: white;
  border: solid grey 2px;
}

.edit-heading {
  color: #e8491d;
}

.edit-img {

}
//fixture index

.fixture-header {
  font-size: 500%;
}

//show

.show-cont {
  padding-top: 100px;
}

.show-header {
  color: #e8491d;
  border-bottom: solid #e8491d 2px;
  padding-bottom: 10px;
}

.show-description {
  padding-left: 40px;
}

.show-image {
  padding-bottom: 50px;
}

.back-btn {
  background-color: deepskyblue;
  border: none;
  color: white;
  padding: 7px 32px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.challenge-btn {
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 10px 32px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

//challenge

.challege-show-box {
  margin-bottom: 100px;
  margin-top: 60px;
 }

.challenge-team-box {
  margin-left: 70px;
  padding-top: 40px;
}

.challenge-team-info-box {
  padding-right: 100px;
}

.challenge-img {
  padding-top: 30px;
}

.challenge-info-title {
  color: #e8491d;
}

.challenge-list {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid grey 2px;
}

.challenge-info-box {
  background-color: white;
  margin-right: 70px;
  padding: 30px 50px 50px 50px;
  float: right;
}

.challenge-form {
  padding-top: 5px;
  padding-bottom: 5px;
}

//challenge index

.challenge-user {
  margin-top: 50px;

  background-color: #35424a;
  color: white;
  padding-bottom: 30px;
  padding-top: 70px;
  border-bottom:#e8491d 3px solid;
  border-top:#e8491d 3px solid;
}

.table-head {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid darkgrey 3px;
  border-top: solid darkgrey 3px;
  margin-bottom: 15px;
  background-color: lightgrey;
}

.table-box {
  padding-top: 30px;
  background-color: white;
}

.table-tile {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: solid lightgrey 1px;
}

.view-btn {
  background-color: #35424a;
  border: none;
  color: white;
  padding: 7px 22px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 25px;
}

.view-btn-box {
  padding-top: 15px;
}

.bot-padding {
  padding-bottom: 100px;
}

.pen-btn-area {
  background-color: deepskyblue;
  border: none;
  color: white;
  padding: 7px 12px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.acc-btn-area {
  background-color: green;
  border: none;
  color: white;
  padding: 7px 12px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.dec-btn-area {
  background-color: red;
  border: none;
  color: white;
  padding: 7px 12px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}


.response-box {
  margin-right: 15px;
}

//challenge response

.edit-challenge-box {
  padding: 80px 30px 30px 30px;
}

.response-header {
  color: #e8491d;
  padding-bottom: 10px;
  border-bottom: solid darkgrey 3px;
}

.response-contact-box {
  padding-left: 30px;
}

.decline-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 7px 22px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.accept-btn {
  background-color: limegreen;
  border: none;
  color: white;
  padding: 7px 22px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

//edit fixture
.fix-edit-header {
  background-color: #35424a;;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  border-bottom: solid #e8491d 2px;
  border-top: solid #e8491d 2px;
  padding-top: 50px;
  padding-bottom: 50px;
}

//form
.form-heading {
  color: #e8491d;
  padding-bottom: 25px;
}

.form-box {
  padding: 10px 10px 10px 10px;
  background-color: white;
  border: solid grey 2px;
  margin-bottom: 50px;
}

.form-btn {
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 10px 32px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}
//about

.about-header {
  background-image: image-url(image_path("site-hero3.jpg"));
  background-size: 100% 100%;
  border: solid;
  padding-top: 275px;
  padding-bottom: 450px;
  border-bottom:#e8491d 3px solid;
  color: white;

}

.about-title {
  border: #e8491d 8px solid;
  font-size: 500%;
}

.about-body {
  background-color: #35424a;
  color: white;
  padding-left: 120px;
}

.body-header {
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-p {
  padding-right: 70px;
  color: lightgrey;
}

.about-image {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-btn-area {
  padding-top: 20px;
}

.about-btn{
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 15px 50px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.about-works-header {
  padding-top: 20px;
}

.about-tile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.about-tiles {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 40px;
}

.about-image-left {
  background-image: image-url(image_path("underage2.jpg"));
  padding-top: 30px;
  padding-bottom: 50px;
}

.about-image-right {
  background-image: image-url(image_path("all-ireland-league2.jpg"));
  padding-top: 30px;
  padding-bottom: 300px;
}

.about-image-text {
  padding-left: 45px;
  color: white;
}

.about-btn-join {
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 15px 15px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.about-test-body {
  background-color: white;
}

.about-test {
  margin-top: 40px;
  padding: 10px 10px 10px 10px;
  border: solid grey 2px;
  border-radius: 5px;
}

.about-test-pic {
  padding-top: 40px;
  padding-bottom: 10px;
}

//contact

.contact-header {
  background-image: image-url(image_path("site-hero4.jpg"));
  background-size: 100% 100%;
  border: solid;
  padding-top: 275px;
  padding-bottom: 450px;
  border-bottom:#e8491d 3px solid;
  color: white;
}

.contact-tiles {
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 40px;
  background-color: #35424a;
  color: white;
  border-bottom:#e8491d 3px solid;
}

.contact-map {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom:#e8491d 3px solid;
}

.contact-contact {
  padding-top: 50px;
  padding-left: 400px;
  padding-bottom: 30px;
}

.contact-message {
  padding-top: 50px;
  padding-bottom: 30px;
}

.contact-btn {
  background-color: #e8491d;
  border: none;
  color: white;
  padding: 10px 30px;
  tex-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}

.contact-btn-area {
  padding-top: 20px;
}

//from could9

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  background-image: url('jumbotron.jpg');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }

}
#heads{
  background-size:cover;
  background-position: center;
  float: none;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  margin: 0 auto;
  display: block;
  padding:200px 0px 0px 0px;

  p{
    color:white;
    font-size:76px;
    padding:0px 0px 75px 0px;

  }
  ul {
    padding: 10px;
    text-align:center;
    background: rgba(0,0,0,0.5);
  }
  li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }
  a {
    color:white;

  }

}
.navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 0px;

}

.navbar-default {
  background:#35424a;
  color:#ffffff;
  padding-top:12px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

.navbar-default .navbar-brand {
  font-family: Giza ThreeFive;
  color: #e8491d;
  font-size: 30px;
  padding: 10px 40px;
  border:solid 10px #60606e;
  display: inline-block;
  margin-bottom: 30px;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color:#ffffff;
  background-color: transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 3px 5px;
  margin-top: 8px;
  margin-bottom: 9px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-toggle {
  border-color: #60606e;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #E8491D;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  padding-top: 25px;
  font-size:16px;
}

.navbar-nav .a:hover{
  color:#ffffff;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p {font-size: 18px;}
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0px;
  }
}

.col-md-8   {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
}
.col-md-3   {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}






@media  (max-width: 767px) {
  /* line 455, /usr/local/rvm/gems/ruby-2.4.1/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color:#fff;
    text-transform: uppercase;
    padding-top: 15px;
    font-family: "Montserrat", "sans-serif";
    font-size:14px;
  }
  /* line 457, /usr/local/rvm/gems/ruby-2.4.1/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d81818;
    background-color: transparent;
  }

  @media screen and (max-width: 767px) {
    .site-hero .page-title .big-title2{font-size: 80px;}
    .site-hero .page-title .small-title{font-size: 12px;}
    .site-hero4 .page-title .big-title{font-size: 60px;}


  }
}